# Editor and System Files
*.vim
.DS_Store
.Rproj.user
.RData
.Rhistory
.Rprofile

# R Project and Quarto Files
getting_to_school.RProj
/.quarto/
packrat/lib*/
packrat/src/

# Ignore Quarto Cache and Build Files (but keep configuration)
!.quarto.yml

# Ignore Data Directory (modify if you want to keep specific data files)
data/
Data/

# Always Track Functions Directory
!functions

# Make sure API key is invisible
 
